# files for nvim
.nvim
.cache
# Files for Verilator
/obj_dir
.stamp.verilate
tb_sim/waveform.vcd
# Files for Quartustools
/db
/incremental_db
/output_files
/simulation
# Files for svls
svls.log
#tags
tags
# Files for clangd
.cache/
compile_commands.json
Session.vim
#verible files
verible.filelist
